.path{
    list-style: none;
    display: flex;
}

li span{
    margin-right: 5px;
}

.deleteDeco{
    text-decoration: none;
    color: black;
}
.deleteDeco:hover{
    color: #3176F5;
    cursor: pointer;
}
.mainPic{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 7px;
}
.confirm{
    position: absolute;
    display: block;
    top: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    height: 400px;
    width: 400px;
    background-color: #333;
    color: #fff;
}
.none{
    display: none;
}